.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(105 105 105 / 80%);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  width: clamp(500px, 60%, 700px);
  padding: 16px;
  margin: 20px;
  border-radius: 20px;
  background: #e1d4c9;
  color: $color-text-dark;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-text {
  text-align: center;
  font-size: 2em;
  span {
    font-weight: bold;
  }
}

.modal-btn {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  background: none;
  border: 1px solid #665f55;
  margin: 20px 0 10px;
  transition: all 0.3s ease-out;
}

.modal-btn__text {
  font-size: 1.7em;
  font-weight: 600;
  color: $color-text-dark;
}

@media (hover: hover) {
  .modal-btn:hover {
    background-color: $color-grid-background;
    .modal-btn__text {
      color: #fff;
    }
  }
}

.--active {
  display: flex;
}

.overlay_score-table,
.score-table {
  justify-content: center;
}

.score-table__level {
  text-align: center;
  ul {
    padding: 0;
    border-top: 2px solid $color-text-dark;
  }
  li {
    list-style: none;
  }
}

.level-title {
  font-size: 1.5em;
  font-weight: 600;
}

.score {
  font-size: 1.5em;
  margin: 5px 0;
}
