.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #1d1b31f0;
  color: #fff;
  text-align: center;
}

.sidebar__features {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  overflow: auto;
  li {
    position: relative;
    list-style: none;
  }
}

.feat__name {
  font-size: 32px;
  font-weight: 400;
}

.levels-sublist {
  padding: 0;
  background-color: $color-border;
  //display: none;
}

.level {
  width: 100%;
  font-size: 25px;
  padding: 5px 0;
}

.level-names {
  border-top: 2px solid #fff;
  padding: 5px 0 10px;
}

.level-name {
  font-size: 20px;
  cursor: pointer;
}
